<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link th:href="@{/style.css}" rel="stylesheet"/>
</head>
<body class="registration_background">
<div th:replace="fragments/header :: 'header'"></div>


<div class="card text-center registration">
    <div class="card-header">
        Serwus!
    </div>
    <div class="card-body">
        <h2 class="card-title" th:text="${registration.name}"> </h2>
        <p class="card-text">Zapisałeś się na zajęcia:  <span th:text="${registration.getCategory()}"/> </p>
<!--        <a href="#" class="btn btn-primary">Quiz</a>
w planach podpięcie quizu o sporcie.
-->
    </div>
    <div class="card-footer text-muted">
        KS Astoria POLSKA
    </div>
</div>

</body>
</html>